
<div *ngIf="ugovorIntervencijaStav">
    <h2><span jhiTranslate="rasvetaApp.ugovorIntervencijaStav.detail.title">Ugovor Intervencija Stav</span> {{ugovorIntervencijaStav.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencijaStav.opis">Opis</span></dt>
        <dd>
            <span>{{ugovorIntervencijaStav.opis}}</span>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencijaStav.cena">Cena</span></dt>
        <dd>
            <span>{{ugovorIntervencijaStav.cena}}</span>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencijaStav.ugovorIntervencija">Ugovor Intervencija</span></dt>
        <dd>
            <div *ngIf="ugovorIntervencijaStav.ugovorIntervencija">
                <a [routerLink]="['/ugovor-intervencija', ugovorIntervencijaStav.ugovorIntervencija?.id]">{{ugovorIntervencijaStav.ugovorIntervencija?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencijaStav.intervencijaTip">Intervencija Tip</span></dt>
        <dd>
            <div *ngIf="ugovorIntervencijaStav.intervencijaTip">
                <a [routerLink]="['/intervencija-tip', ugovorIntervencijaStav.intervencijaTip?.id]">{{ugovorIntervencijaStav.intervencijaTip?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ugovor-intervencija-stav/'+ ugovorIntervencijaStav.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
