<div>
    <h2>
        <span jhiTranslate="rasvetaApp.ugovorMaterijal.home.title">Ugovor Materijals</span>
        <button class="btn btn-primary float-right jh-create-entity create-ugovor-materijal" [routerLink]="['/', { outlets: { popup: ['ugovor-materijal-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rasvetaApp.ugovorMaterijal.home.createLabel">
            Create new Ugovor Materijal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ugovorMaterijals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="opis"><span jhiTranslate="rasvetaApp.ugovorMaterijal.opis">Opis</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datumOd"><span jhiTranslate="rasvetaApp.ugovorMaterijal.datumOd">Datum Od</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datumDo"><span jhiTranslate="rasvetaApp.ugovorMaterijal.datumDo">Datum Do</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="opstina.id"><span jhiTranslate="rasvetaApp.ugovorMaterijal.opstina">Opstina</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ugovorMaterijal of ugovorMaterijals ;trackBy: trackId">
                <td><a [routerLink]="['../ugovor-materijal', ugovorMaterijal.id ]">{{ugovorMaterijal.id}}</a></td>
                <td>{{ugovorMaterijal.opis}}</td>
                <td>{{ugovorMaterijal.datumOd | date:'mediumDate'}}</td>
                <td>{{ugovorMaterijal.datumDo | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="ugovorMaterijal.opstina">
                        <a [routerLink]="['../opstina', ugovorMaterijal.opstina?.id ]" >{{ugovorMaterijal.opstina?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ugovor-materijal', ugovorMaterijal.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ugovor-materijal/'+ ugovorMaterijal.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ugovor-materijal/'+ ugovorMaterijal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ugovorMaterijals && ugovorMaterijals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
