
<div *ngIf="status">
    <h2><span jhiTranslate="rasvetaApp.status.detail.title">Status</span> {{status.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rasvetaApp.status.naziv">Naziv</span></dt>
        <dd>
            <span>{{status.naziv}}</span>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.status.redosled">Redosled</span></dt>
        <dd>
            <span>{{status.redosled}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'status/'+ status.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
