
<div *ngIf="ugovorIntervencija">
    <h2><span jhiTranslate="rasvetaApp.ugovorIntervencija.detail.title">Ugovor Intervencija</span> {{ugovorIntervencija.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencija.opis">Opis</span></dt>
        <dd>
            <span>{{ugovorIntervencija.opis}}</span>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencija.datumOd">Datum Od</span></dt>
        <dd>
            <span>{{ugovorIntervencija.datumOd | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencija.datumDo">Datum Do</span></dt>
        <dd>
            <span>{{ugovorIntervencija.datumDo | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.ugovorIntervencija.opstina">Opstina</span></dt>
        <dd>
            <div *ngIf="ugovorIntervencija.opstina">
                <a [routerLink]="['/opstina', ugovorIntervencija.opstina?.id]">{{ugovorIntervencija.opstina?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ugovor-intervencija/'+ ugovorIntervencija.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
