<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySvetiljkaTipLabel" jhiTranslate="rasvetaApp.svetiljkaTip.home.createOrEditLabel">Create or edit a Svetiljka Tip</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!svetiljkaTip.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="svetiljkaTip.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rasvetaApp.svetiljkaTip.naziv" for="field_naziv">Naziv</label>
            <input type="text" class="form-control" name="naziv" id="field_naziv"
                [(ngModel)]="svetiljkaTip.naziv" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rasvetaApp.svetiljkaTip.izvor" for="field_izvor">Izvor</label>
            <input type="text" class="form-control" name="izvor" id="field_izvor"
                [(ngModel)]="svetiljkaTip.izvor" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rasvetaApp.svetiljkaTip.snaga" for="field_snaga">Snaga</label>
            <input type="number" class="form-control" name="snaga" id="field_snaga"
                [(ngModel)]="svetiljkaTip.snaga" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
