
<div *ngIf="materijalTip">
    <h2><span jhiTranslate="rasvetaApp.materijalTip.detail.title">Materijal Tip</span> {{materijalTip.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rasvetaApp.materijalTip.naziv">Naziv</span></dt>
        <dd>
            <span>{{materijalTip.naziv}}</span>
        </dd>
        <dt><span jhiTranslate="rasvetaApp.materijalTip.jedMere">Jed Mere</span></dt>
        <dd>
            <div *ngIf="materijalTip.jedMere">
                <a [routerLink]="['/jed-mere', materijalTip.jedMere?.id]">{{materijalTip.jedMere?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'materijal-tip/'+ materijalTip.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
